<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="BaseDb" connectionString="Server=192.168.0.12;Initial Catalog=LearunFramework_Base_61;User ID=sa;Password=SQLserver2learun.com" providerName="System.Data.SqlClient" />-->
  <add name="BaseDb" connectionString="Server=8A28;Initial Catalog=LearunFramework_Base_61;User ID=sa;Password=123456.com" providerName="System.Data.SqlClient" />
</connectionStrings>