<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="Learun.DataBase.IDatabase,Learun.DataBase" />
    <typeAlias alias="SqlServer" type="Learun.DataBase.SqlServer.Database,Learun.DataBase.SqlServer" />
    <typeAlias alias="MySql" type="Learun.DataBase.MySqlEx.Database,Learun.DataBase.MySqlEx" />
    <typeAlias alias="Oracle" type="Learun.DataBase.Oracle.Database,Learun.DataBase.Oracle" />


    <!--工作流接口-->
    <typeAlias alias="INodeMethod" type=" Learun.Application.WorkFlow.INodeMethod, Learun.Application.WorkFlow" />
    <typeAlias alias="NodeMethod" type=" Learun.Application.WorkFlow.NodeMethod, Learun.Application.WorkFlow" />
    
  </typeAliases>
  <containers>
    <container name="IOCcontainer">
      <type type="IDatabase" mapTo="SqlServer" name="SqlServer"></type >
      <type type="IDatabase" mapTo="MySql" name="MySql"></type >
      <type type="IDatabase" mapTo="Oracle" name="Oracle"></type >
    </container>

    <container name="WfIOCcontainer">
      <type type="INodeMethod" mapTo="NodeMethod"></type>
    </container>
    
  </containers>
</unity>