<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 是否启用js压缩-->
  <add key="JsCompressor" value="true" />
  <!-- 代码生成器路径-->
  <add key="BackProject" value="Learun.Application.TwoDevelopment" />
  <add key="MappingDirectory" value="\Learun.Framework.Module\Learun.Application.Module\Learun.Application.Mapping" />
  <add key="ServiceDirectory" value="\Learun.Framework.Module\Learun.Application.Module\Learun.Application.TwoDevelopment" />
  <add key="WebDirectory" value="\Learun.Application.Web" />
  <!-- ================== 2：这里主要是微信配置项内容部分 ================== -->
  <!--企业号CorpId -->
  <add key="CorpId" value="wxa2c39f6194f4" />
  <!--企业号凭证密钥 -->
  <add key="CorpSecret" value="eDo9pEOXWqSgWtQ-_1NF_NTmGDTlZ3UFFdF3To-" />
  <!-- ================== 3：访问过滤配置 ================== -->
  <!--设置IP过滤 -->
  <add key="FilterIP" value="false" />
  <!--设置时段过滤 -->
  <add key="FilterTime" value="false" />
  <!-- ================== 4：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.learun.cn" />
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="上海力软信息技术有限公司" />
  <!-- 系统名称 -->
  <add key="SystemName" value="Learun敏捷开发框架" />
  <!-- 软件名称 -->
  <add key="SoftName" value="Learun.敏捷开发框架" />
  <!-- 软件版本 -->
  <add key="Version" value="6.1.6.0" />
  <!-- 软件注册码，备用 -->
  <add key="RegisterKey" value="NO:2013101712345678" />
  <!-- ================== 5：外部邮件参数 ================== -->
  <!-- 系统错误自动发送邮件 -->
  <add key="ErrorToMail" value="false" />
  <!-- 接收错误信息的邮箱 -->
  <add key="RereceiveErrorMail" value="receivebug@learun.cn" />
  <!-- 发出邮箱的名称 -->
  <add key="MailName" value="力软邮件中心" />
  <!-- 发出邮箱的地址 -->
  <add key="MailUserName" value="sendbug@learun.cn" />
  <!-- 发出邮箱的密码 -->
  <add key="MailPassword" value="learun123" />
  <!-- 发出邮箱设置邮箱主机 -->
  <add key="MailHost" value="smtp.ym.163.com" />
  <!-- ================== 6：即时通信参数 ================== -->
  <!-- SignalR服务接口-->
  <add key="IMUrl" value="http://localhost:8012/signalr" />
  <add key="userKey" value="14B417B0-463D-4F2B-8075-0A20EEDB773A" />
  <!-- ================== 7：附件上传地址 ================== -->
  <add key="AnnexesFile" value="C:/fileAnnexes" />
  <!-- ================== 8：附件上传地址 ================== -->
  <add key="workflowapi" value="http://localhost:8013" />

  <!--Redis 缓存前缀 -->
  <add key="RedisPrev" value="LRADMS"/>
  <!--head 头像存储地址 -->
  <add key="fileHeadImg" value="C:/fileHeadImg"/>
  <add key="fileAppDTImg" value="C:/fileAppDTImg" />
</appSettings>