@{
    ViewBag.Title = "订单管理";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="lr-layout">
    <div class="lr-layout-center">
        <div class="lr-layout-wrap lr-layout-wrap-notitle">
            <div class="lr-layout-tool">
                <div class="lr-layout-tool-left">
                    <div class="lr-layout-tool-item">
                        <div id="datesearch"></div>
                    </div>
                    <div class="lr-layout-tool-item">
                        <div id="multiple_condition_query">
                            <div class="lr-query-formcontent">
                                <div class="col-xs-12 lr-form-item">
                                    <div class="lr-form-item-title">单据编号</div>
                                    <input id="orderCode" type="text" class="form-control" />
                                </div>
                                <div class="col-xs-12 lr-form-item">
                                    <div class="lr-form-item-title">客户名称</div>
                                    <div id="customerId"></div>
                                </div>
                                <div class="col-xs-12 lr-form-item">
                                    <div class="lr-form-item-title">销售人员</div>
                                    <div id="sellerId"></div>
                                </div>
                                <div class="col-xs-12 lr-form-item">
                                    <div class="lr-form-item-title">收款状态</div>
                                    <div id="paymentState"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lr-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="lr_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class=" btn-group btn-group-sm" learun-authorize="yes">
                        <a id="lr_add" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;<span class="lrlg">新增</span></a>
                        <a id="lr_edit" class="btn btn-default"><i class="fa fa-pencil-square-o"></i>&nbsp;<span class="lrlg">编辑</span></a>
                        <a id="lr_delete" class="btn btn-default"><i class="fa fa-trash-o"></i>&nbsp;<span class="lrlg">删除</span></a>
                        <a id="lr_detail" class="btn btn-default"><i class="fa fa-trash-o"></i>&nbsp;<span class="lrlg">详细</span></a>
                    </div>
                </div>
            </div>

            <div class="lr-layout-body" id="gridtable"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_CRMModule/Views/CrmOrder/Index.js")

