@{
    ViewBag.Title = "IP过滤设置";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="lr-layout" style="padding: 0px;">
    <div class="lr-layout-center">
        <div class="lr-layout-wrap lr-layout-wrap-notitle">
            <div class="lr-layout-tool">
                <div class="lr-layout-tool-left" id="btn_visitType" style=" padding-top: 12px;">
                    <div class=" btn-group btn-group-sm">
                        <a class="btn btn-default active" data-value="1"><i class="fa fa-key"></i>&nbsp;<span class="lrlg">授权访问</span></a>
                        <a class="btn btn-default" data-value="0"><i class="fa fa-lock"></i>&nbsp;<span class="lrlg">拒绝访问</span></a>
                    </div>
                </div>
                <div class="lr-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="lr_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class=" btn-group btn-group-sm">
                        <a id="lr_add" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;<span class="lrlg">新增</span></a>
                        <a id="lr_edit" class="btn btn-default"><i class="fa fa-pencil-square-o"></i>&nbsp;<span class="lrlg">编辑</span></a>
                        <a id="lr_delete" class="btn btn-default"><i class="fa fa-trash-o"></i>&nbsp;<span class="lrlg">删除</span></a>
                    </div>
                </div>
            </div>
            <div class="lr-layout-body" id="gridtable"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_AuthorizeModule/Views/FilterIP/Index.js")

