.lr-processInfo-page {
    position: relative;
    height: 100%;
    width: 100%;
}

    .lr-processInfo-page .container {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #efeff4;
    }