.lr-form-wrap {
    padding: 0;
}
.lr-form-item {
    width:600px;
    padding: 5px 200px 5px 80px;
    float:initial;
}
.tip {
    position:absolute;
    right:0;
    top:0;
    width:200px;
    height:100%;
    line-height:38px;
    padding-left:10px;
    font-size:16px;

}
.tip .fa {
    margin-right:5px;
}
.tip-success {
    color:#1bb99a;
}
.tip-error {
    color:#ff5d48;
}
.lr-form-item-title {
    width: 80px;
    text-align: left;
    padding-right: 10px;
}
.form-control {
    border-radius:4px;
}
.lr-form-item-text {
    color:#959393;
    padding-left:80px;
}
#Verifycode_img {
    cursor:pointer;
}
.lr-field-error-info {
    right:203px;
}