.btn-tool-bar {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:55px;
    border-bottom:1px solid #ddd;
    z-index:4;
}
.step-gird-pane {
    padding-top:55px;
}
.lr-layout-tool-item {
    position:relative;
    float:left;
    padding-top:13px;
    padding-left:5px;
}
.lr-layout-tool-item .btn {
    position: relative;
    display: inline-block;
    height: 28px;
    margin-bottom: 1px;
    line-height: 14px;
}
.lr-layout-tool-item  .form-control {
    border-radius: 4px;
    display: inline-block;
    width: 200px;
}

.step-pane-base {
    padding:10px;
    padding-top:168px;
}
.step-pane-base-top {
    position:absolute;
    top:0px;
    left:0px;
    padding:10px;
    width:100%;
    height:166px;
}


.lr-panel {
    position:relative;
    width:100%;
    height:100%;
    margin-bottom:0;
    padding-top:38px;
}
.lr-panel .panel-heading {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:38px;
}
.lr-panel .panel-body {
    position:relative;
    width:100%;
    height:100%;
}

.lr-form-tab {
    position:absolute;
    top:0px;
    left:0;
    width:100%;
    padding:10px 10px 0 10px;
    height:49px;
    background:#fff;
}
.tab-content,
.tab-content .tab-pane{
    position:relative;
    width:100%;
    height:100%;
}
    .tab-content .tab-pane {
        overflow-y: auto;
    }
