.step-pane-base {
    padding:10px;
    padding-top:69px;
}
.lr-alert {
    position:absolute;
    top:10px;
    left:0;
    height:59px;
    width:100%;
    padding:0 10px;
}
.lr-alert .alert {
    margin-bottom:0;
}
.lr-alert .alert > i {
    position: relative; 
    top: 1px; 
    font-size: 15px; 
    padding-right: 5px;
}
.lr-panel {
    position:relative;
    width:100%;
    height:100%;
    margin-bottom:0;
    padding-top:38px;
}
.lr-panel .panel-heading {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:38px;
}
.lr-panel .panel-body {
    position:relative;
    width:100%;
    height:100%;
    padding:205px 0 15px 0;
}
.lr-form-item {
    position:absolute;
    top:0;
    left:0;
    height:38px;
    width:100%;
    padding-right:20px;
}

.wizard {
    z-index:3;
}
.btn-tool-bar {
    position:absolute;
    top:0;
    width:100%;
    text-align:right;
    padding:5px;
    border-bottom:1px solid #ddd;
}
.step-gird-pane {
    padding-top:41px;
}
.btn-tool-bar-left {
    position:absolute;
    left:5px;
    top:6px;
    width:300px;
    height:28px;
    z-index:4;
    text-align:left;
}