.form-warp {
    position:relative;
    width:100%;
    height:100%;
    padding-left:200px;
}
.form-warp-left {
    position:absolute;
    left:0;
    top:0;
    width:200px;
    height:100%;

}


.lr-left-tree {
    position:relative;
    height:100%;
    width:100%;
    border-right:1px solid #ddd;
    padding-top:5px;
}



.form-warp-main {
    position:relative;
    height:100%;
    width:100%;
    padding-top:28px;

}
.input-search {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:28px;
    border-bottom:1px solid #ddd;
}
.form-control {
    border:0px;
    height:100%;

}
.input-query {
    position: absolute;
    right: 8px;
    top: 2px;
    color: #ccc;
    font-size: 16px;
    cursor: pointer;
}






.main-list {
    position:relative;
    height:100%;
    width:100%;
}

.card-box {
    position:relative;
    float: left;
    width: 195px;
    height: 60px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    margin: 10px 0 0 10px;
    padding-left:65px;
    padding-top:4px;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: pointer;
}
.card-box.active {
    border: 1px solid #ff5d5b;
    background: url(/Content/images/selected_red.png) right top no-repeat;
}
.card-box-img {
    position: absolute;
    left:0;
    top:0;
    width: 60px;
    height: 58px;
    border-right: 1px solid #ccc;
}
.card-box-img img {
    width: 59px;
    height: 58px;
}
.card-box-content p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin:0;
}








