@{
    ViewBag.Title = "个人中心-日志查看";
    Layout = "~/Views/Shared/_Index.cshtml";
}
@Html.AppendCssFile("/Views/UserCenter/LogIndex.css")
<div id="lr_layout" class="lr-layout">
    <ul class="nav nav-tabs lr-nav-tabs" id="lr_left_list">
        <li class="active" data-value="1">登录日志</li>
        <li data-value="2">访问日志</li>
        <li data-value="3">操作日志</li>
    </ul>
    <div class="lr-layout-center">
        <div class="lr-layout-wrap lr-layout-wrap-notitle">
            <div class="lr-layout-tool">
                <div class="lr-layout-tool-left">
                    <div class="lr-layout-tool-item">
                        <div id="datesearch"></div>
                    </div>
                    <div class="lr-layout-tool-item">
                        <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" />
                    </div>
                    <div class="lr-layout-tool-item">
                        <a id="btn_Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;查询</a>
                    </div>
                </div>
                <div class="lr-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="lr_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                </div>
            </div>

            <div class="lr-layout-body" id="gridtable">
            </div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Views/UserCenter/LogIndex.js")

