@{
    ViewBag.Title = "个人中心-修改密码";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@Html.AppendCssFile("/Views/UserCenter/PassWordForm.css")
<div class="lr-form-wrap" id="form">
    <div class="lr-form-item-text">
        为了保护您的帐号安全，操作前请您进行安全验证
    </div>
    <div class="lr-form-item">
        <div class="lr-form-item-title">旧密码<font face="宋体">*</font></div>
        <input id="OldPassword" type="password" class="form-control" isvalid="yes" checkexpession="NotNull" />
        <div class="tip"></div>
    </div>
    <div class="lr-form-item">
        <div class="lr-form-item-title">新密码<font face="宋体">*</font></div>
        <input id="NewPassword" type="password" class="form-control" isvalid="yes" checkexpession="NotNull" />
        <div class="tip"></div>
    </div>
    <div class=" lr-form-item">
        <div class="lr-form-item-title">重复新密码<font face="宋体">*</font></div>
        <input id="RedoNewPassword" type="password" class="form-control" isvalid="yes" checkexpession="NotNull" />
        <div class="tip"></div>
    </div>
    <div class="lr-form-item">
        <div class="lr-form-item-title">验证码<font face="宋体">*</font></div>
        <input id="Verifycode" maxlength="4" type="text" class="form-control" isvalid="yes" checkexpession="NotNull">
        <div>
            <img id="Verifycode_img" src="~/UserCenter/VerifyCode" alt="点击切换验证码" title="点击切换验证码" />
        </div>
    </div>
    <div class="lr-form-item"><a class="btn btn-primary" id="lr_save_btn"><i class="fa fa-save"></i>&nbsp;提&nbsp;交</a></div>
</div>
@Html.AppendJsFile("/Views/UserCenter/PassWordForm.js")
