@{
    ViewBag.Title = "Excel导入配置";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="lr-layout lr-layout-left-center" id="lr_layout">
    <div class="lr-layout-left">
        <div class="lr-layout-wrap">
            <div class="lr-layout-title lrlg ">功能列表</div>
            <div class="lr-layout-body" id="module_tree"></div>
        </div>
    </div>
    <div class="lr-layout-center">
        <div class="lr-layout-wrap">
            <div class="lr-layout-title">
                <span class="lrlg">导入配置信息</span> - <span id="titleinfo lrlg ">未选择功能</span>
            </div>
            <div class="lr-layout-tool">
                <div class="lr-layout-tool-left">
                    <div class="lr-layout-tool-item">
                        <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" />
                    </div>
                    <div class="lr-layout-tool-item">
                        <a id="btn_Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;<span class="lrlg">查询</span></a>
                    </div>
                </div>
                <div class="lr-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="lr_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class=" btn-group btn-group-sm" learun-authorize="yes">
                        <a id="lr_add" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;<span class="lrlg">新增</span></a>
                        <a id="lr_edit" class="btn btn-default"><i class="fa fa-pencil-square-o"></i>&nbsp;<span class="lrlg">编辑</span></a>
                        <a id="lr_delete" class="btn btn-default"><i class="fa fa-trash-o"></i>&nbsp;<span class="lrlg">删除</span></a>
                    </div>
                    <div class=" btn-group btn-group-sm" learun-authorize="yes">
                        <a id="lr_enable" class="btn btn-default"><i class="fa fa-play"></i>&nbsp;<span class="lrlg">启用</span></a>
                        <a id="lr_disable" class="btn btn-default"><i class="fa fa-stop"></i>&nbsp;<span class="lrlg">停用</span></a>
                    </div>
                </div>
            </div>
            <div class="lr-layout-body" id="gridtable"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_SystemModule/Views/ExcelImport/Index.js")
