@{
    ViewBag.Title = "分类管理";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap" id="form">
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">上级</div>
        <div id="F_ParentId"></div>
    </div>
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">名称<font face="宋体">*</font></div>
        <input id="F_ItemName" type="text" class="form-control" placeholder="请输入名称" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">编号<font face="宋体">*</font></div>
        <input id="F_ItemCode" type="text" class="form-control" placeholder="请输入编号" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">排序<font face="宋体">*</font></div>
        <input id="F_SortCode" type="text" class="form-control" placeholder="请输入排序号" isvalid="yes" checkexpession="Num" />
    </div>
    <div class="col-xs-12 lr-form-item">
        <div class="checkbox">
            <label>
                <input id="F_IsTree" type="checkbox" />
                树型
            </label>
            <label>
                <input id="F_EnabledMark" type="checkbox" checked="checked" />
                有效
            </label>
        </div>
    </div>
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">备注</div>
        <textarea id="F_Description" class="form-control" style="height: 90px;"></textarea>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_SystemModule/Views/DataItem/ClassifyForm.js")