
@{
    ViewBag.Title = "收支报表";
    Layout = "~/Views/Shared/_ReportTemplate.cshtml";
}

<div class="lr-layout ui-report">
    <div class="lr-layout-center">
        <div class="lr-layout-wrap lr-layout-wrap-notitle">
            <div class="lr-layout-tool">
                <div class="lr-layout-tool-left">
                    <div class="lr-layout-tool-item">
                        <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" />
                    </div>
                    <div class="lr-layout-tool-item">
                        <a id="btn_Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;<span class="lrlg">查询</span></a>
                    </div>
                </div>
                <div class="lr-layout-tool-right">
                    <div class="btn-group btn-group-sm" learun-authorize="yes">
                        <a id="lr-replace" class="btn btn-default"><i class="fa fa-refresh"></i>&nbsp;<span class="lrlg">刷新</span></a>
                    </div>
                </div>
            </div>
            <div class="lr-layout-grid" style="overflow:auto;">
                <div class="grid-title">
                    <div style="overflow: hidden; padding-bottom: 20px; text-align: center; margin-left: auto; margin-right: auto;">
                        <div id="main" style="float: left; margin-right: 20px; width: 500px; height: 350px;border: 1px solid #ccc;">
                        </div>
                        <div id="main1"  style="float: left; margin-right: 20px; width: 500px; height: 350px;border: 1px solid #ccc;">
                        </div>
                    </div>
                </div>
                <div class="lr-layout-body" id="gridtable" ></div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/echarts/echarts.min.js"></script>
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/FinanceReport.js")
