
@{
    ViewBag.Title = "仓库报表";
    Layout = "~/Views/Shared/_ReportTemplate.cshtml";
}
<div class="lr-layout ui-report">
    <div class="lr-layout-center">
        <div class="lr-layout-wrap lr-layout-wrap-notitle">
            <div class="lr-layout-tool">
                <div class="lr-layout-tool-left">
                    <div class="lr-layout-tool-item">
                        <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" />
                    </div>
                    <div class="lr-layout-tool-item">
                        <a id="btn_Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;<span class="lrlg">查询</span></a>
                    </div>
                </div>
                <div class="lr-layout-tool-right">
                    <div class="btn-group btn-group-sm" learun-authorize="yes">
                        <a id="lr-replace" class="btn btn-default" ><i class="fa fa-refresh"></i>&nbsp;<span class="lrlg">刷新</span></a>
                        <a id="lr-print" class="btn btn-default"><i class="fa fa-print"></i>&nbsp;<span class="lrlg">打印</span></a>
                        <a id="lr-export" class="btn btn-default" ><i class="fa fa-sign-out"></i>&nbsp;<span class="lrlg">导出</span></a>
                    </div>
                </div>
            </div>
            <div class="lr-layout-grid">
                <div class="grid-title lrlg ">商品收发明细表</div>
                <div class="grid-subtitle">日期: 2010-03-05 至 2016-03-28</div>
                <div class="lr-layout-body" id="gridtable"></div>
            </div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/StockReport.js")