.lr-form-layout {
    padding:44px 0 31px 0;
}
.lr-form-layout-top {
    position:absolute;
    top:0;
    left:0;
    border-bottom:1px solid #ddd;
    height:44px;
    width:100%;
    padding-left:3px;
    z-index:4;
}
.lr-form-layout-top-right {
    position:absolute;
    top:0;
    right:8px;
    height:100%;
}
.lr-item {
    position: relative;
    float: left;
    padding-top: 8px;
    padding-left:5px;
    line-height:28px;
}
.lr-item .btn
{
    position: relative;
    display: inline-block;
    height: 28px;
    margin-bottom: 1px;
    line-height: 14px;

}
.lr-item .lr-select {
    width:170px;
}
.lr-item .lr-field-error-info {
    top:9px;
    height:26px;
}
.lr-form-layout-bottom {
    height:31px;
    line-height:30px;
    position:absolute;
    border-top:1px solid #ddd;
    width:100%;
    bottom:0;
    left:0;
    padding-left:8px;
}
