@{
    ViewBag.Title = "字段添加";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap" id="form">
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">字段名称<font face="宋体">*</font></div>
        <input id="fieldName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">字段注释<font face="宋体">*</font></div>
        <input id="fieldDescribe" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">字段类型<font face="宋体">*</font></div>
        <div id="fieldType" isvalid="yes" checkexpession="NotNull"> </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_SystemModule/Views/Interface/FieldForm.js")
