@{
    ViewBag.Title = "人员选择";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@Html.AppendCssFile("/Areas/LR_OrganizationModule/Views/User/SelectForm.css")
<div class="form-warp">
    <div class="form-warp-left">
        <div id="company_select" class="company-select"></div>
        <div id="department_tree" class="department-tree"></div>
    </div>
    <div class="form-warp-main">
        <div class="user-search">
            <input id="txt_keyword" type="text" class="form-control" placeholder="请输入要查询关键字">
            <span  class="input-query" title="Search"><i class="fa fa-search"></i></span>
            <div class="user-selected-btn" id="user_selected_btn">已选人员</div>
        </div>
        <div class="user-list" id="user_list_warp"><div id="user_list"></div></div>
    </div>
    <div class="form-warp-right" id="form_warp_right">
        <div class="form-warp-right-title">已选人员<span class="form-warp-right-close" id="user_selected_btn_close" title="关闭"></span></div>
        <div class="selected-user-list-warp" id="selected_user_list_warp">
            <div id="selected_user_list"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_OrganizationModule/Views/User/SelectForm.js")