@{
    ViewBag.Title = "我的桌面";
    Layout = "~/Views/Shared/_Index.cshtml";
}
@Html.AppendCssFile(
                    "/Views/LR_Content/style/lr-common.css",
                    "/Views/Home/AdminDesktop/index.css")
<div class="lr-desktop-panel">
    <div class="col-xs-12">
        <div class="portal-panel-title">
            <i class="fa fa-balance-scale"></i>&nbsp;&nbsp;统计指标
        </div>
        <div id="lr_target" class="portal-panel-content">
        </div>
    </div>

    <div id="MList" class="col-xs-12">
    </div>
    <div id="Charts" class="col-xs-12">
    </div>
</div>
@Html.AppendJsFile("/Views/Home/AdminDesktop/index.js")













