<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name=”renderer” content=”webkit|ie-comp|ie-stand” />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="快速开发平台,Web快速开发平台,ASP.NET快速开发平台,工作流,快速开发框架,软件可视化开发平台,快速开发 开源,快速开发平台 开源,APP快速开发,敏捷开发框架,快速开发" />
    <meta name="description" content="力软敏捷开发框架，是一个Web可视化开发平台，是一个集PC快速开发、组织架构、工作流、表单设计、自定义报表、APP快速开发等全方位功能于一体的高效、稳定的快速开发平台。" />
    <link rel="icon" href="~/favicon.ico">

    <title>力软信息|快速开发平台|Learun敏捷开发框架|@ViewBag.Title</title>
    <link href="~/Content/pace/pace-theme-minimal.css" rel="stylesheet" />
    <link href="~/Content/font/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery/plugin/scrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />

    @Html.AppendCssFile(
    "/Views/LR_Content/style/lr-common.css",
    "/Views/Home/AdminDesktopTemp/index.css")
    <!--[if lt IE 9]>
      <script src="~/Content/bootstrap/html5shiv.min.js"></script>
      <script src="~/Content/bootstrap/respond.min.js"></script>
    <![endif]-->
</head>
<body class="@Learun.Util.Net.Browser @Learun.Util.WebHelper.GetUITheme()">
    <div class="lr-desktop-panel">
        <div class="col-xs-12">
            <div class="portal-panel-title">
                <i class="fa fa-balance-scale"></i>&nbsp;&nbsp;统计指标
            </div>
            <div class="portal-panel-content">
                <div class="lr-item-20">
                    <div class="task-stat" style="background-color: #578ebe;">
                        <div class="visual">
                            <i class="fa fa-pie-chart"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                128
                            </div>
                            <div class="desc">
                                最新商机量
                            </div>
                        </div>
                        <a class="more" style="background-color: #4884b8;" href="javascript:;" onclick="OpenNav('66f6301c-1789-4525-a7d2-2b83272aafa6')">
                            查看更多 <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="lr-item-20">
                    <div class="task-stat" style="background-color: #e35b5a;">
                        <div class="visual">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                266
                            </div>
                            <div class="desc">
                                最新客户量
                            </div>
                        </div>
                        <a class="more" style="background-color: #e04a49;" href="javascript:;" onclick="OpenNav('1d3797f6-5cd2-41bc-b769-27f2513d61a9')">
                            查看更多 <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="lr-item-20">
                    <div class="task-stat" style="background-color: #44b6ae;">
                        <div class="visual">
                            <i class="fa fa-windows"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                39
                            </div>
                            <div class="desc">
                                新签订单量
                            </div>
                        </div>
                        <a class="more" style="background-color: #3ea7a0;" href="javascript:;" onclick="OpenNav('b352f049-4331-4b19-ac22-e379cb30bd55')">
                            查看更多 <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="lr-item-20">
                    <div class="task-stat" style="background-color: #8775a7;">
                        <div class="visual">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                29898.00
                            </div>
                            <div class="desc">
                                本周付款额
                            </div>
                        </div>
                        <a class="more" style="background-color: #7c699f;" href="javascript:;">
                            查看更多 <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="lr-item-20">
                    <div class="task-stat" style="background-color: #3598dc;">
                        <div class="visual">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                16897.00
                            </div>
                            <div class="desc">
                                利润总额
                            </div>
                        </div>
                        <a class="more" style="background-color: #258fd7;" href="javascript:;">
                            查看更多 <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="portal-panel-title">
                <i class="fa fa-coffee"></i>&nbsp;&nbsp;待办任务（Top 5）
            </div>
            <div class="portal-panel-content" style="overflow: hidden; padding-top: 20px; padding-left: 30px; padding-right: 50px;">
                <div class="lr-msg-line">
                    <a href="#" style="text-decoration: none;">[审批]&nbsp;&nbsp;&nbsp;老李的请假条</a>
                    <label>2016-05-25</label>
                </div>
                <div class="lr-msg-line">
                    <a href="#" style="text-decoration: none;">[审批]&nbsp;&nbsp;&nbsp;陈日天的转岗申请单</a>
                    <label>2016-04-01</label>
                </div>
                <div class="lr-msg-line">
                    <a href="#" style="text-decoration: none;">[工作]&nbsp;&nbsp;&nbsp;回访千事汇通项目负责人</a>
                    <label>2015-09-11</label>
                </div>
                <div class="lr-msg-line">
                    <a href="#" style="text-decoration: none;">[工作]&nbsp;&nbsp;&nbsp;联系宋卡公司财务支付二期尾款</a>
                    <label>2015-02-19</label>
                </div>
                <div class="lr-msg-line">
                    <a href="#" style="text-decoration: none;">[审批]&nbsp;&nbsp;&nbsp;刘昊的借支申请单</a>
                    <label>2015-02-26</label>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="portal-panel-title">
                <i class="fa fa-bullhorn"></i>&nbsp;&nbsp;公告/通知（Top 5）
            </div>
            <div class="portal-panel-content" style="overflow: hidden; padding-top: 20px; padding-left: 30px; padding-right: 50px;">
                <div class="lr-msg-line">
                    <a href="#" style="text-decoration: none;">[公告]&nbsp;&nbsp;&nbsp;端午节放假安排</a>
                    <label>2016-06-01</label>
                </div>
                <div class="lr-msg-line">
                    <a href="#" style="text-decoration: none;">[通知]&nbsp;&nbsp;&nbsp;苏州分公司总经理任命书</a>
                    <label>2016-05-28</label>
                </div>
                <div class="lr-msg-line">
                    <a href="#" style="text-decoration: none;">[通知]&nbsp;&nbsp;&nbsp;公司开票信息更新通知</a>
                    <label>2016-05-23</label>
                </div>
                <div class="lr-msg-line">
                    <a href="#" style="text-decoration: none;">[公告]&nbsp;&nbsp;&nbsp;全体员工体检通知</a>
                    <label>2016-04-06</label>
                </div>
                <div class="lr-msg-line">
                    <a href="#" style="text-decoration: none;">[通知]&nbsp;&nbsp;&nbsp;华东区营销总监任命书</a>
                    <label>2016-04-18</label>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="portal-panel-title">
                <i class="fa fa-bar-chart"></i>&nbsp;&nbsp;局站分类型总用电占比
            </div>
            <div class="portal-panel-content">
                <div id="piecontainer" class="lr-chart-container"></div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="portal-panel-title">
                <i class="fa fa-bar-chart"></i>&nbsp;&nbsp;预算与实际用电量对比
            </div>
            <div class="portal-panel-content">
                <div id="linecontainer" class="lr-chart-container"></div>
            </div>
        </div>
    </div>

    <script src="~/Content/pace/pace.min.js"></script>
    <script src="~/Content/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/Content/jquery/plugin/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/echarts/echarts.min.js"></script>
    @Html.AppendJsFile("/Views/Home/AdminDesktopTemp/index.js")
</body>
</html>













