@{
    ViewBag.Title = "我的桌面";
    Layout = "~/Views/Shared/_Index.cshtml";
}
@Html.AppendCssFile(
                    "/Views/LR_Content/style/lr-common.css",
                    "/Views/Home/AdminDesktop/index.css")
<div class="lr-desktop-panel">
    <div class="col-xs-12">
        <div class="portal-panel-title">
            <i class="fa fa-balance-scale"></i>&nbsp;&nbsp;统计指标
        </div>
        <div id="lr_target" class="portal-panel-content">
            <div class="lr-item-20">
                <div class="task-stat" style="background-color: #578ebe;">
                    <div class="visual">
                        <i class="fa fa-pie-chart"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            0
                        </div>
                        <div class="desc">

                        </div>
                    </div>
                    <a class="more" style="background-color: #4884b8;" href="javascript:;" onclick="OpenNav('66f6301c-1789-4525-a7d2-2b83272aafa6')">
                        查看更多 <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="lr-item-20">
                <div class="task-stat" style="background-color: #e35b5a;">
                    <div class="visual">
                        <i class="fa fa-bar-chart-o"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            0
                        </div>
                        <div class="desc">

                        </div>
                    </div>
                    <a class="more" style="background-color: #e04a49;" href="javascript:;" onclick="OpenNav('1d3797f6-5cd2-41bc-b769-27f2513d61a9')">
                        查看更多 <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="lr-item-20">
                <div class="task-stat" style="background-color: #44b6ae;">
                    <div class="visual">
                        <i class="fa fa-windows"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            0
                        </div>
                        <div class="desc">

                        </div>
                    </div>
                    <a class="more" style="background-color: #3ea7a0;" href="javascript:;" onclick="OpenNav('b352f049-4331-4b19-ac22-e379cb30bd55')">
                        查看更多 <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="lr-item-20">
                <div class="task-stat" style="background-color: #8775a7;">
                    <div class="visual">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            0
                        </div>
                        <div class="desc">

                        </div>
                    </div>
                    <a class="more" style="background-color: #7c699f;" href="javascript:;">
                        查看更多 <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="lr-item-20">
                <div class="task-stat" style="background-color: #3598dc;">
                    <div class="visual">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            0
                        </div>
                        <div class="desc">

                        </div>
                    </div>
                    <a class="more" style="background-color: #258fd7;" href="javascript:;">
                        查看更多 <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="MList" class="col-xs-12">
    </div>
    <div class="col-xs-6">
        <div class="portal-panel-title">
            <i class="fa fa-bar-chart"></i>&nbsp;&nbsp;局站分类型总用电占比
        </div>
        <div class="portal-panel-content">
            <div id="piecontainer" class="lr-chart-container"></div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="portal-panel-title">
            <i class="fa fa-bar-chart"></i>&nbsp;&nbsp;预算与实际用电量对比
        </div>
        <div class="portal-panel-content">
            <div id="linecontainer" class="lr-chart-container"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Views/Home/AdminDesktop/index.js")













